@model CancelCreditCardViewModel
@{
    ViewData["Title"] = "Cancelar Tarjeta";
}

<h2 class="text-danger">¿Está seguro que desea cancelar la tarjeta [XXXX]?</h2>

<form asp-action="Cancel" method="post">
    <input type="hidden" asp-for="Id" />

    <div class="d-flex justify-content-between mt-4">
        <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
        <button type="submit" class="btn btn-danger">Aceptar</button>
    </div>
</form>
