@model SaveCreditCardViewModel
@{
    ViewData["Title"] = "Asignar Tarjeta de Crédito";
}

<h2 class="mb-4">Configurar Tarjeta de Crédito</h2>

<form asp-action="Create" method="post">
    <div class="mb-3">
        <label asp-for="CreditLimit" class="form-label">Límite de crédito</label>
        <input asp-for="CreditLimit" class="form-control" type="number" min="0" step="0.01" required />
        <span asp-validation-for="CreditLimit" class="text-danger"></span>
    </div>

    <input type="hidden" asp-for="ClientId" />
    <input type="hidden" asp-for="ClientFullName" />
    <input type="hidden" asp-for="CreatedByAdminId" />
    <input type="hidden" asp-for="AdminFullName" />
    <input type="hidden" asp-for="CVC" value="000"/>
    <input type="hidden" asp-for="TotalOwedAmount" value="0"/>

    <div class="d-flex justify-content-between mt-4">
        <a asp-action="SelectClient" class="btn btn-secondary">Seleccionar otro cliente</a>
        <button type="submit" class="btn btn-success">Asignar tarjeta</button>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
