@model SaveBeneficiaryViewModel

<form asp-controller="Beneficiary" asp-action="Add" method="post">
    <div class="modal-header">
        <h5 class="modal-title" id="addBeneficiaryModalLabel">Agregar Nuevo Beneficiario</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">

        @if (Model.HasError)
        {
            <div class="alert alert-danger" role="alert">
                @Model.ErrorMessage
            </div>
        }

        <div class="mb-3">
            <label asp-for="BeneficiaryAccountNumber" class="form-label">Número de Cuenta</label>
            <input asp-for="BeneficiaryAccountNumber" class="form-control" />
            <span asp-validation-for="BeneficiaryAccountNumber" class="text-danger"></span>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="submit" class="btn btn-primary">Guardar Beneficiario</button>
    </div>
</form>