@model HermesBanking.Core.Application.ViewModels.Cashier.PagoPrestamoViewModel

@{
    Layout = "_LayoutCashier";
    ViewData["Title"] = "Prestamo";
}

<h3>Pago a préstamo</h3>

<form asp-action="ConfirmLoanPayment" method="post">
    <div class="form-group">
        <label asp-for="AccountNumber"></label>
        <input asp-for="AccountNumber" class="form-control" />
        <span asp-validation-for="AccountNumber" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="LoanNumber"></label>
        <input asp-for="LoanNumber" class="form-control" />
        <span asp-validation-for="LoanNumber" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Amount"></label>
        <input asp-for="Amount" class="form-control" />
        <span asp-validation-for="Amount" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Continuar</button>
</form>
