@model HermesBanking.Core.Application.ViewModels.Cashier.WithdrawViewModel

@{
    Layout = "_LayoutCashier"; // Si tienes uno para cajero. Si no, usa "_LayoutClient" o "_Layout"
    ViewData["Title"] = "Retiro";
}

<h2>Retirar dinero</h2>

<form asp-action="ConfirmWithdraw" method="post">
    <div class="form-group">
        <label>Número de cuenta</label>
        <input asp-for="AccountNumber" class="form-control" />
        <span asp-validation-for="AccountNumber" class="text-danger"></span>
        <span asp-validation-for="AccountNumber" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label>Monto a retirar</label>
        <input asp-for="Amount" class="form-control" />
        <span asp-validation-for="Amount" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Continuar</button>
</form>
