@{
    ViewData["Title"] = "Pago de Préstamo Confirmado";
    Layout = "_LayoutClient";

}

<div class="text-center">
    <h1 class="display-4 text-success">¡Pago de Préstamo Realizado con Éxito!</h1>
    <p class="lead">Su pago de préstamo ha sido procesado correctamente.</p>
    <hr class="my-4">
    <p>
        <a asp-controller="ClientHome" asp-action="Index" class="btn btn-primary btn-lg">Volver al Inicio</a>
        <a asp-controller="Transaction" asp-action="PayLoan" class="btn btn-secondary btn-lg ms-3">Realizar Otro Pago</a>
    </p>
</div>